.main-rating{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap:49px;
    
}

/* .container-fixed{} */
.row-rating-1{
    width: 624px;
    height: 413px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    /* position: fixed; */
    white-space: break-spaces;
    /* padding: 37px; */

}
.comment{
    width: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:30px;

}

.row-rating-2{
    width: 624px;
    height: 1145px;

    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

}