
.default{
    border: 1px solid #B9B8B7; 
}
.error{
    border: 1px solid #E73232;
}
.success{
    border: 1px solid #22C55E;
}
.container-input{
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
}
.icon{
    position:absolute;
    right:10px;
}
textarea{
    /* padding-top: 20px; */
    width: 100%;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 147%;
    border-radius: 8px;
    font-style: normal;
    padding: 10px 16px;
    font-family: 'Nunito Sans', sans-serif;

}
input, select{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    width: 100%; 
    height: 56px;
    background: #FFFFFF;
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 147%;
    color: #1E1A17;
    flex: none;
    order: 0;
    flex-grow: 1;
  }
  select:focus, input:focus{
    border: 1px solid #1E1A17;
    box-shadow: 0 0 0 0;
    outline: 0;
  }
  
  option {
    padding: 0px 16px;
    box-sizing: border-box;
    background: #FFFFFF;
  
  }
  