.container-register{
    width: 100%;
}
.container-content-register{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 984px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 12px 12px -2px rgba(136, 136, 136, 0.12);
    border-radius: 16px;
    overflow: hidden;
    
}
.container-content-register{
    display: flex;
}
.continaer-lateral-logo-register{
    width: 358px;
    background: #0072E5;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.continaer-lateral-form{
    height: 100%;
    width: 626px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-form-register{
    width: 382px;
    margin-top: 40px;
    margin-bottom: 40px;

}
.container-register-content-title{
    margin-left: 10px;
}


.container-register-content-buttons{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:16px;
}
.container-register-content-buttons button{
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border-radius: 10px;

}
.container-register-content-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 0px;
    padding-left: 10px;
    width: 100%;

}
.container-register-content-option a{
    text-decoration: none;
    color:#0072E5;
}
.css-1wc848c-MuiFormHelperText-root {
    margin-left: 2px !important;
    
}
.private-check{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.private-check span{
    margin-top: -3px;
}
.container-register-content-sign div{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.container-register-content-sign a{
    text-decoration: none;
    color:#0072E5;
}
.form-sign{
    margin-top: 32px;
}

@media screen and (max-width: 1076px) {
    .container-content-register{
        width: 90% !important;
    }
}
@media screen and (max-width: 800px) {
    .continaer-lateral-logo{
        display: none !important;
    }
}
@media screen and (max-width: 550px) {
    .container-form-register{
        width: 80% !important;
    }
}
