#composition-button{
    text-decoration: none !important;
    color:#888888 !important;
}
.text-overflow{
    width: 160px !important;
    overflow: hidden !important; 
    white-space: nowrap !important; 
    text-overflow: ellipsis !important; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



.container-user-avatar{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    /* width: 380px; */
    justify-content: flex-end;
    flex-direction: column;
    gap:10px;
    
}
.container-avatar-image-main{

    border-radius: 4px;
    color: #FFF !important;
    background: #119bf7;
    height: 35px;
    width: 35px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes dropdown-menu-fade-in {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes dropdown-menu-fade-out {
    0% {
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

.content-text{
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
.option-user{
    
    position: absolute;
    background: #FFFF;
    margin-left:-345px;
    margin-top: 350px;
    width: 380px;
    height: auto;
    box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
    animation: dropdown-menu-fade-in .6s ease 1;
    /* animation: ropdown-menu-fade-out .6s ease 1; */
}

.container-banner-option{

    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 1rem;
    background-color: #f9fafe;
    background-image: url("../../Assests/banner.png");
    text-align: left;
}
.container-avatar-image-banner{
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: #FFF !important;
    background: hsla(0, 0%, 100%, 0.377);
    height: 60px;
    width: 60px;
    font-size: 2.2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-banner{
    flex-grow: 1;
    color: #595d6e;
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 1rem;
    color:#FFF;
}
.option-first{
    display: flex;
    align-items: center;
    color: #031d3d;
    cursor: pointer;
    padding: 1.5rem!important;
    /* width: 100%; */
}
.option-second{
    display: none;
    align-items: flex-start;
    flex-direction: column;
    gap:20px;
    color: #031d3d;
    cursor: pointer;
    padding: 1.5rem!important;
    border-top: 1px solid #f7f8fa;

    /* width: 100%; */
}
.option-button-logout{
    display: flex;
    align-items: center;
    border-top: 1px solid #f7f8fa;
    padding: 1.6rem 1.5rem;
}
/* position: absolute;
inset: 0px 0px auto auto;
margin: 0px;
transform: translate3d(0px, 45px, 0px); */
@media screen and (max-width: 1350px) {
    .container-user-avatar{
        display: none;
    }
    .option-user{
        display: block !important;
        margin-left: -24px;
        width: 100%;
        margin-top: 550px;
        box-shadow:inherit !important;
    }
    .option-second{
        display: flex;

    }
  }