.Large-Button{
  height: 56px !important;
}
.Medium-Button{
  height: 40px !important;

}
.Small-button{
  height: 32px !important;
}
.Outlined{
  border: 1px solid #006FEC !important;;
  background: #FFF !important;;
  color: #006FEC !important;;
}