button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;  
  /* width: 77px; */
  width: auto;
  /* height: 32px; */
  border: none;
  cursor: pointer;
  background: #006FEC;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.large-button{
  height: 56px !important;
}
.medium-button{
  height: 48px !important;

}
.small-button{
  height: 32px !important;
}
.outlined{
  border: 1px solid #006FEC !important;
  background: #FFF !important;
  color: #006FEC !important;
}