
body {
  background-color: var(--background);
  color: #0F0D15;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 130%;

}


button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;  
  width: 77px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: #006FEC;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

input, select{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  width: 350px; 
  height: 56px;
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 147%;
  color: #B9B8B7;
  flex: none;
  order: 0;
  flex-grow: 1;
}
select:focus, input:focus{
  border: 1px solid #1E1A17;
  box-shadow: 0 0 0 0;
  outline: 0;
}

option {
  padding: 0px 16px;
  box-sizing: border-box;
  background: #FFFFFF;

}


