
.card{
    width: 521px;
    height: 666px;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
}
.main-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:32px;
    margin-bottom: 39px;
}