.container-main-evaluate{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
}
.container-evaluate{
    width: 1350px;
}
.container-title-evaluate{
    /* margin-top: 60px; */
}
.container-title-evaluate span{
    color:#0072E5;
}
.container-form-evaluate{
    margin-top: 24px;
}
.container-evaluate-content-input{
    margin-top: 30px;
    width: 100%;
    /* margin-bottom: 100px; */
}

.container-evaluate-button{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .container-flex-local{
        flex-direction: column;
    }
    .container-main-evaluate{
        margin-top: 200px;
    }

  } 

.container-flex-local{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:24px;
}

.form-input{
    margin-bottom: 100px;
}
/* 1410 */
@media screen and (max-width: 1410px) {
    .container-evaluate{
        width: 95%;
    }
   
}
