.container-header{
    width: 100%;
    border-bottom: 1px solid hsl(0, 0%, 76%);
    margin-bottom: 70px;
    background: #FFF;
}
.container-header-main{
    /* padding-top: 14px; */
    width: 100%;
    /* border-bottom: 1px solid #C2C2C2; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-avatar-login{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* gap:-10px; */
}

.muthed-avatar-header{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FAFAFA ;
    border: 1px solid #AFAFAF ;
    font-style: normal;
    font-weight: 700 ;
    font-size: 20px ;
    line-height: 109px ;
    color: #AFAFAF ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}
.muthed-avatar-header img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #FAFAFA ;
}

.MuiSnackbarContent-root {
    background-color: #FFF !important;
}

.div-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
.div-button-sidebar{
    width: 90%;
    display: flex;
    align-items: center;
    gap:24px;
    float:left;
    margin-bottom: 24px;

}
.top-sidebar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-search{
    width: 583px;
}
.container-menu-margin{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-menu{
    /* width: 1350px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 26px;
    padding-bottom: 26px;
    gap:56px;
}
.link {
    text-decoration: none;
}
.container-margin{
    width: 1350px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-margin img {
    cursor:pointer;
    width: 153px;

}
.container-menu-burguer{
    display: none;
}

@media screen and (max-width: 1350px) {
    .container-menu{
        display: none;
     }
     .container-menu-burguer{
        display: block;
    }
    .div-button{
        display: none;
    }
    .container-header-main{
        border:none;
    }
  }
@media screen and (max-width: 1200px) {
    .container-menu{
        display: none;
     }
     .container-menu-burguer{
        display: block;
    }
    .div-button{
        display: none;
    }
    .container-header-main{
        border:none;
    }
  }
  @media screen and (max-width: 992px) {
    .input-search{
        display: none;
    }
    .container-header-main {
        height: 90px !important;
    }
  } 
  @media screen and (max-width: 768px) {
    .input-search{
        display: none;
    }
   
  } 

