.container-header{
    width: 100%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
    border-bottom: 1px solid #C2C2C2;

}
.container-header-main{
    /* padding: 20px; */
    padding-top: 14px;
    width: 100%;
    border-bottom: 1px solid #C2C2C2;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
.div-button-sidebar{
    width: 90%;
    display: flex;
    align-items: center;
    gap:15px;
    float:left;
    margin-bottom: 24px;

}
.top-sidebar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-search{
    width: 583px;
}
.container-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 26px;
    padding-bottom: 26px;
    gap:56px;
}
.container-margin{
    width: 1350px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-menu-burguer{
    display: none;
}

@media screen and (max-width: 1200px) {
    .input-search{
        width: 300px;
    }
    .container-menu{
       flex-direction: column;
    }
  }
  @media screen and (max-width: 992px) {
    .input-search{
        display: none;
    }
  } 
  @media screen and (max-width: 768px) {
    .input-search{
        display: none;
    }
    .container-menu{
        display: none;
     }
     .container-menu-burguer{
        display: block;
    }
    .div-button{
        display: none;
    }
    .container-header-main{
        border:none;
    }
  } 

