.container-confirmEmail{
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-content-confirmEmail{
    width: auto;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 12px 12px -2px rgba(136, 136, 136, 0.12);
    border-radius: 16px;
    overflow: hidden;
    padding: 50px 0 50px 0px;
}
.container-content-confirmEmail{
    display: flex;
    
}
.input-confirmEmail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:5px;
    margin-top: 8px;
    
}
.input-confirmEmail input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.continaer-lateral-logo{
    width: 358px;
    background: #0072E5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continaer-lateral-form{
    height: 100%;
    width: 626px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.container-form-confirmEmail{
    width: 382px;
    text-align: center;

}
.container-confirmEmail-content-title{
    margin-left: 10px;
}


.container-confirmEmail-content-buttons{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:16px;
    margin-bottom: -10px !important;
}
.container-confirmEmail-content-buttons button{
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border-radius: 10px;

}
.container-confirmEmail-content-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    width: 100%;

}
.remember-check-password{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.container-confirmEmail-content-sign div{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.container-confirmEmail-content-sign a{
    text-decoration: none;
    color:#0072E5;
}


@media screen and (max-width: 1076px) {
    .container-content-confirmEmail{
        width: 90% !important;
    }
}
@media screen and (max-width: 800px) {
    .continaer-lateral-logo{
        display: none !important;
    }
}
/* container-form-confirmEmail */
@media screen and (max-width: 550px) {
    .container-form-confirmEmail{
        width: 80% !important;
    }
}
/* @media screen and (max-width: 1200px) {

} */

.input-helper{
    color: red !important;
    font-size: 12px !important;
    margin-top: -5px !important;
}
.MuiCircularProgress-colorPrimary {
    color: #FFF !important;
}

.new-password{
    width: 100%;
    margin-top: 16px;
}
.new-password div{
    width: 100%;
}