.button-login-google{
    border: 1px solid #C1C1C1 !important;
    background-color: #FFF;
    color:#6e6e6e; 
    height: 48px !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:38px;
}
.button-login-google img{
    width: 24px;

}
