.container-comment-main{
    /* width: auto; */
    margin-bottom: 30px;
    /* border-bottom: 1px solid #dbdbdb; */
}
.container-title{
    width: auto;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    color:#FFF !important;
    background: #699BF7;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}
.avatar div {
    color:#FFF !important;
}
.muthed-avatar{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background: #FAFAFA ;
    border: 1px solid #AFAFAF ;
    font-style: normal;
    font-weight: 700 ;
    font-size: 30px ;
    line-height: 109px ;
    color: #AFAFAF ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}
.muthed-avatar div {
    color:#FFF !important;
}

.container-detail{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-top:3px;
    width: 100% ;
}
.continer-rating{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap:0px;
}
.container-comment-option-report{
    display: flex;
    gap:5px
}
.container-comment-option-report div{
    cursor: pointer;
}
.container-comment-option{
    display: flex;
    gap:5px
}
.container-comment-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -20px;
    margin-bottom: 20px;
}
.container-star{
    gap:5;
}

.container-comment{
    width: 100%;
    margin-top:16px;
    word-break: break-word;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:10px
}
@media screen and (max-width: 1200px) {
 
} 