.container-comment-main{
    /* width: auto; */
    margin-bottom: 30px;
    border-bottom: 1px solid #dbdbdb;
}
.container-title{
    width: auto;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color:#FFF !important;
    background: #699BF7;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}
.avatar div {
    color:#FFF !important;
}
.container-detail{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top:3px;
}
.continer-rating{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:16px;
}

.container-star{
    gap:5;
}

.container-comment{
    width: 100%;
    margin-top:16px;
    word-break: break-word;
    margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
 
} 